#contact{
    padding-bottom: 150px;
    .container{
        .content{
            h1{
                margin-bottom: 40px;
            }
            p{
                margin-bottom: 80px;
            }
        }
    }
    .contact-area{
        display: flex;
        flex-wrap: wrap;
    
        width: 100%;
        .us{
            .detail{
            border-radius: 8px;

                text-align: center;
                padding: 20px;
            h1{
                color: white !important;
                
            }
            background-color: $button-color;
            color: white;
        }
    }
       
    }
}