//fonts
$font-sans: 'Open Sans', sans-serif;
$font-playfair: 'Playfair Display', serif;
//colors
$color-p: #555;
$color-h: #3c3c3c;
$color-dark: #333;
$color-shadow: rgba(0,0,0,.1);
$color-home2: rgba(0,0,0,.08);
$color-home3: yellow;
$button-color: #a70003;
//sizes
$font-size-sans: 1rem;
$line-height: 1em;
$section-padding: 50px 0;